<h1>Sign Up!</h1>
  <div class="form">
  <div class="wrapper">
  <h2>Create Account</h2>
  <p>Please fill in this form to create an account</p>

    <form  #form="ngForm" (ngSubmit)="onRegister()">
      <input type="text" placeholder="First Name" name="first_name" [(ngModel)]="user.first_name">
      <input type="text"placeholder="Last Name" name="last_name" [(ngModel)]="user.last_name">
      <input type="email" placeholder="Email" name="email" [(ngModel)]="user.email">
      <!-- <input type="number" placeholder="contact number" name="contact_number" [(ngModel)]="user.contact_number"> -->
      <input type="text" placeholder="Password" name="password" [(ngModel)]="user.password">
      <!-- <input type="file" placeholder="Profile Image" name="profileImage" [(ngModel)]="user.profileImage"> -->

      <button type="submit">Register</button>
      <label style="margin-top: 40px">if you have account ? <a [routerLink]="['/login']" routerLinkActive="router-link-active"> Login here</a></label>
   </form>
     </div>
  </div>
